<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <%- include('../partials/navbar', {user_name}); %>
    <div id="myStrainsGrid" class="container">
        <h1 class="center">My Trees</h1>
        <h2 class="center">Put your happy little trees right here!</h2>
        <img id="bobRoss" src="/assets/images/bobRoss.jpg" alt="">
        <div id="myStrainWrapper">
            <% results.forEach(function(strain) { %>
            <%- include('../partials/my_strain', {strain:strain}); %>
            <% }); %>
        </div>
    </div>
    <% include ../partials/script %>
</body>
</html>
