<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <h1>My Trees</h1>
    <h2>Put your happy little trees right here!</h2>

    <div id="my_trees_grid"></div>

    <a href="/strains">Strains</a>

    <% include ../partials/script %>
</body>

</html>