<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <%- include('../partials/navbar', {user_name}); %>
    <div class="profileTextCard">
        <h3 class="profileText">What are you looking for?</h3>
        <h3 class="profileText">Here are some helpful hints.</h3>
    </div>

    <div id="info">
        <div class="greenCard">
            <img src="/assets/images/sativa.jpg" class="green-card-img-top" alt="Sativa Leaf">
            <div class="card-body">
                <h5 class="card-title">Sativa</h5>
                <p class="card-text">High THC Level</p>
                <p class="card-text">Best suited for day use</p>
                <p class="card-text">Energetic and uplifting</p>
                <p class="card-text">Relieves depression</p>
                <p class="card-text">Slender leaf shape</p>
                <p class="card-text">Flavor is typically earthy</p>
            </div>
        </div>

        <div class="greenCard">
            <img src="/assets/images/indica.jpg" class="green-card-img-top" alt="Indica Leaf">
            <div class="card-body">
                <h5 class="card-title">Indica</h5>
                <p class="card-text">High CBD Level</p>
                <p class="card-text">Best suited for night use</p>
                <p class="card-text">Calming, sedating and relaxing</p>
                <p class="card-text">Reduces anxiety and pain</p>
                <p class="card-text">Wide leaf shape</p>
                <p class="card-text">Flavor is typically sweet</p>
            </div>
        </div>
        <div class="greenCard">
            <img src="/assets/images/hybrid.jpg" class="green-card-img-top" alt="Hybrid Leaf">
            <div class="card-body">
                <h5 class="card-title">Hybrid</h5>
                <p class="card-text">Created to achieve desired traits</p>
                <p class="card-text">Varied leaf shape</p>
                <p class="card-text">Variety of flavors</p>
            </div>
        </div>

    </div>
    <% include ../partials/script %>
</body>

</html>