<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    <h1>Project Puff</h1>
    <h2>Welcome Back <%= user_name %></h2>

    <a href="/strains">Strains</a>
    <a href="/mystrains">My Strains</a>
    <a href="/logout">Log Out</a>

    <% include ../partials/script %>
</body>
</html>