<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <form action="/signup" method="POST">
        <div id="signIn-signUp-card">
            <div id="signup">
                <h1 id="header">Project Puff</h1>
                <div id="welcome">
                    <h2 class="white">Welcome</h2>
                    <h2 id="suTitle">Sign Up</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user_name" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="user_email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="user_password" placeholder="Enter Password">
                    </div>
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </div>
            <p id="new" class="white">Have an account? <a style="color:black" href="/signin">Sign In</a></p>
        </div>
        
    </form>
    
    <% include ../partials/script %>
</body>

</html>