<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <h1>Project Puff</h1>
    <h2>Welcome</h2>

    <a href="/strains">Strains</a>

    <form action="/signin" method="POST">
        <input type="text" name="user_name" placeholder="Input User Name">
        <input type="password" name="user_password" placeholder="Input Password">

        <button>Sign In</button>
    </form>

    <p>New to Project Puff? <a href="/signup">Sign Up</a></p>

    <% include ../partials/script %>
</body>

</html>