<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>

    <div id="signIn-signUp-card">
        <h1 id="suTitle">Project Puff</h1>

        <h2 id="suTitle">Sign Up</h2>

        <div id="suForm">
            <form action="/signup" method="POST">
                <div class="formInput">
                    <input type="text" name="user_name" placeholder="Enter User Name">
                </div>
                <div class="formInput">
                    <input type="email" name="user_email" placeholder="Enter Email">
                </div>
                <div class="formInput">
                    <input type="password" name="user_password" placeholder="Enter Password">
                </div>
                <div class="formButton">
                    <button>Sign Up</button>
                </div>
            </form>

            <p id="new" class="white">Have an account? <a style="color:black" href="/signin">Sign In</a></p>
        </div>
    </div>

    <% include ../partials/script %>
</body>

</html>