<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body id="strainBG">
    <h1 id="pTitle">Project Puff</h1>
    <h2 class="center">Strains</h2>

    <div class="center">
        <a href="/my_strains">My Strains</a>
        <a href="/logout">Log Out</a>
    </div>

    <% results.forEach(function(strain) { %>
    <%- include('../partials/strain', strain); %>
    <% }); %>

    <% include ../partials/script %>
</body>

</html>