<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <h1>Project Puff</h1>

    <% results.forEach(function(strain) { %>
        <%- include('../partials/strain', strain); %>
    <% }); %>

    <% include ../partials/script %>
</body>

</html>