<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
    <h1>Project Puff</h1>

    <a href="/strains">Strains</a>
    <a href="/mystrains">My Strains</a>
    <a href="/logout">Log Out</a>

    <p><%= results.strain_info %></p>
    <p><%= results.strain_name %></p>


    <% include ../partials/script %>
</body>
</html>